version: '3'

services:
  api:
      hostname: api
      build: .
      restart: unless-stopped
      env_file:
        - .env
      ports:
        - 8080:80
      volumes:
        - ./data/mining-stats.db:mining-stats.db
